extends base.pug

block style 
     style
    //-   include ../static/style.css
    //-   include ../static/contact.css
    //-   include ../static/about.css
      

block content 
    // Container (About Section)
    section#aboutus
        
        h1 About Us
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam,
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam, modi, doloremque voluptates aliquid inventore, omnis dolor quibusdam aperiam sint accusantium qui. Aut cupiditate, repudiandae reprehenderit exercitationem nobis unde. Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, voluptas?
        