doctype html
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
html
  head
    block title YourSite
    block style 
      style
        //- include ../static/style.css
        //- include ../static/contact.css
        //- include ../static/about.css
      
  body
    nav#navbar
      ul#ulforlogo
        div#logo
            a(href="/")
               img(src="/static/img/logo.png")
               h4 YOURSITE
      label#icon 
         i(class="fas fa-bars")       
      ul#navforli  
          li #[a(href="/") Home]
          li #[a(href="/services") Services]
          li #[a(href="/aboutus") About Us]
          li #[a(href="/contactus") Contact Us]
      
      

        
    
    block content
    

    footer#footer.lab_social_icon_footer
      | Copyright © 2020 Your-Site.com | All Rights Reserved
      #lab_social_icon_footer     
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
        .socialmediaicon
          .text-center.center-block
            a(href='https://www.facebook.com/')
              i#social-fb.fa.fa-facebook-square.fa-2x.social
            a(href='https://twitter.com/')
              i#social-tw.fa.fa-twitter-square.fa-2x.social
            a(href='https://plus.google.com/')
              i#social-gp.fa.fa-google-plus-square.fa-2x.social
            //- a(href='mailto:#')
            //-   i#social-em.fa.fa-envelope-square.fa-2x.social
       
    block scripts
    script(type='text/javascript' src='https://code.jquery.com/jquery-3.5.1.js' )
    script(src='https://kit.fontawesome.com/a076d05399.js')
    //- script.
    //-   $(document).ready(function() {
    //-   $('#icon').click(function() {
    //-   $('ul').toggleClass('show');
    //-   })
    //-   })
    script(src='../static/index.js')
    script(src='../static/media-query.js')