extends base.pug



block style 
     style
      //- include ../static/style.css
      //- include ../static/contact.css
      //- include ../static/about.css

block content 
   div.container
        h1 Contact Us     
        form(action="/contactus", method="post", class="myForm")
            input(type="text",class="myInput",name="name",placeholder="Enter Your Name ")
            input(type="phone",class="myInput",name="phone",placeholder="Enter Your Phone Number ")
            input(type="email",class="myInput",name="email",placeholder="Enter Your Email Id")
            input(type="text",class="myInput",name="address",placeholder="Enter Your Address")
            input(type="text",class="myInput",name="desc",placeholder="Enter Your Concern")
            button(class="btn")
                |Submit
            
block scripts
  //- script(src='../static/index.js')