extends base.pug
            


block style 
     style
      //-   include ../static/style.css
      //-   include ../static/contact.css
      //-   include ../static/about.css
      //-   include ../static/services.css

block content 

    section#one
        
        h1 Category1
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam, modi, doloremque voluptates aliquid inventore, omnis dolor quibusdam aperiam sint accusantium qui. Aut cupiditate, repudiandae reprehenderit exercitationem nobis unde. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui?
    section#two
        
        h1 Category2
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam, modi, doloremque voluptates aliquid inventore, omnis dolor quibusdam aperiam sint accusantium qui. Aut cupiditate, repudiandae reprehenderit exercitationem nobis unde. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui?
    section#three
        
        h1 Category3
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam, modi, doloremque voluptates aliquid inventore, omnis dolor quibusdam aperiam sint accusantium qui. Aut cupiditate, repudiandae reprehenderit exercitationem nobis unde. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui?
    section#four
        
        h1 Category4
        p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis asperiores ipsam, modi, doloremque voluptates aliquid inventore, omnis dolor quibusdam aperiam sint accusantium qui. Aut cupiditate, repudiandae reprehenderit exercitationem nobis unde. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, qui?
    
        
                      