*{
	margin: 0px;
	padding-left: 0px;
	box-sizing: border-box;
}
.con{
	display: flex;
	background: green;
	/*flex-wrap: nowrap;
	flex-direction: row;*/
	flex-flow: wrap row;
	justify-content: space-between;
	/*center(content bich ma lyauxa), space-around(equal gap lyauxa), space-between(bich ma gap lauxa), flex-start(suru bata lyauxa)*/
	height: 700px;
	align-items: flex-start;
	align-content: space-between;
}
.box{
	padding: 80px;
	background: yellow;
	border: 3px solid #000;
	width: 700px;
}