
        body{
            background:url(bg.jpg) center no-repeat;
            background-size:100%;
            color: #fff;
        }
        h1 {
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }

        body {
          background: url(bg.jpg) no-repeat center center fixed;
          background-size: cover;
            font-family: 'Oswald', sans-serif;
            font-size:20px;
        }

        .blur {
          background: url(bg.jpg) no-repeat center center fixed;
          background-size: cover;
          filter: blur(10px);
          position: absolute;
          top: 125px;
          left: 188px;
          right: 188px;
          bottom: 125px;
        }

        .widget {
          height: 92%;
          width: 55%;
          overflow: hidden;
        }

        .center {
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .text {
          height: 450px;
          width: 450px;
          border-top: 2px solid rgba(255, 255, 255, .5);
          border-bottom: 2px solid rgba(255, 255, 255, .5);
        }

        .text h1 {
          text-align: center;
          text-shadow: 1px 1px rgba(0, 0, 0, .1);
            font-family: 'Poppins', sans-serif;
          color: #ffffff;
          margin-top: 57px;
          font-weight: 700;
          font-size: 38px;
        }
        input[type=text]{
            width:80%;
            padding: 5px;
            font-family: 'Poppins', sans-serif;
        }
        .text p {
          text-align: center;
          text-shadow: 1px 1px rgba(0, 0, 0, .1);
          margin-top: 5px;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 22px;
        }