@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@400;700&display=swap');

/* for all */
*{
    margin: 0;
    padding: 0;
    font-family: 'QuickSand', sans-serif;
    box-sizing: border-box;
}

/* enable smooth scroll */
html {
    scroll-behavior: smooth;
}

/* set background */
body{
    background: #252734;
    overflow-x: hidden;
}

/* ########### HEADER ########### */

header{
    display: inline;
}

nav{
    display: flex;
    justify-content: space-around;
    min-height: 70px;
    color: white;
    align-items: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background: #333646;
    z-index: 2;
    top: 0;
    position: sticky;
}

#logo{
    font-family: 'Pacifico', sans-serif;
    font-size: 24px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    padding-right: 0px;
}

nav li {
	list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
 }

.jumbotron{
    background-image: url("../img/ios-13-grey-dark-background.jpg");
    min-height: 80vh;
    justify-content: top;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
 }

.hero{
     height: 100%;
     width: 100%;
     position: relative;
 }

 .content img{
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
 }

 .content{
     display: flex;
     flex-direction: row;
     position: absolute;
     justify-content: center;
     align-items: center;
     width: 100%;
     z-index: 1;
     height: 100%;
     transform: translateY(-100%);
 }

 .content h1{
     margin-left: 30px;
     color: white;
 }

 .content #sub-headline{
     font-size: 20px;
     font-weight: normal;
     line-height: 0.5;
 }
 
 .link::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #252734;
    transition: width .3s;
 }

 .link:hover::after{
    width: 100%;
    transition: width .3s;
 }

/* ########### BODY ########### */

.mainContainer{
    color: white;
    text-align: center;
}

/* ########### LAST PROJECT ########### */

.lastProject{
    background: #333646;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    width: 80%;
    padding: 20px;
    margin: auto;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.lastProject:hover{
    transform: translateY(-10px);
    background: #FFAF29;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}

.mainContainer h1{
    margin: 20px;
}

.text h2{
    font-size: 30px;
}

.text h3{
    text-align: start;
}

.text a{
    text-decoration: none;
    color: white;
}

.feature li {
    text-align: start;
}

/* ########### PROJECTS ########### */

.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background: #333646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.card:hover{
    transform: translateY(-10px);
    background: #FFAF29;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}

/* ########### ABOUT ########### */

aside article{
    color: white;
    text-align: center;
    background: #333646;
    max-width: 400px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 40px;
    line-height: 200%;
    transition: all 0.5s ease-in-out;
}

aside article:hover{
    transform: translateY(-10px);
    background: #FFAF29;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
}

aside article img{
    width: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

/* ########### FOOTER / CONTACTS ########### */

footer{
    color: white;
    padding: 40px;
    background: #333646;
    text-align: center;
    font-weight: bold;
}

footer a{
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: white;
}

footer li{
   display: inline-block;
   list-style-type: none;
   margin-right: 20px;
   margin-top: 20px;
}