body{
	background-color: #ECECEC;
	font-family: Arial;
}

#login{
	background-color: #0682BE;
	
	border-color: #808486;
	border-style: solid;
	border-width: 4px;
	border-radius: 18px;
	color: #FFF;
	position: absolute;
	top: 35%;
	left: 35%;
}

input[type="submit"]{
	background-color: #01354E;
	color: #FFF;
	border-color: #01354E;
	border-radius: 3px;
}

#registro{
	background-color: #0682BE;
	border-color: #808486;
	border-style: solid;
	border-width: 4px;
	border-radius: 18px;
	color: #FFF;
	position: absolute;
	top: 20%;
	left: 35%;