body,html,h1,h2,p, div,a,img,header,footer,span{
    margin: 0;
    padding: 0;
  font-family: 'Poppins', sans-serif;
}
header{background: #feba1d; color: #fbfbfb; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; text-align: center; padding: 2em 0;}