@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to right bottom, #1857b7, #008ae1, #00b5cb, #00d782, #a8eb12);

}
.container {
    border-radius:8px;
    box-shadow: #021025 0px 0px 15px;
    position: absolute;
    width: 460px;
    height: 690px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.container::-webkit-scrollbar {
    display: none;
}

h1{
    margin: 12px 0;
}
.add-todo{
    margin: 12px 0;
}
input{
    padding: 6px 4px;
    width: 70%;
    border-radius: 4px;
    color: #1857B7;
    background:  #e6e1e1;
}
button{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
}
#bttn{
    box-shadow: 0px 0px 2px #000102;
}
.list{
    height: 550px;
}
ul{
    padding: 15px;
    overflow: inherit;
}
li{
    list-style: none;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: rgba( 238, 24, 207, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 8px;
    transition: .4s;
}

button:hover{
    background-color: #1565c0;
}
li:hover{
    background: rgba(167, 9, 143, 0.787);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.delete{
    float: right;
    background: rgba( 2, 47, 68, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.delete:hover{
    background: rgba( 226, 26, 86, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.edit{
    float: left;
    background: rgba(14, 74, 102, 0.45);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-left: 10px;
    padding-right: 10px;
    
}
.edit:hover{
    background: rgba(26, 226, 59, 0.75);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.bookmark {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: absolute;
    top: 85%;
    padding-right: 3rem;
    padding-left: 1.5rem;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-size: small;
  }
.bookmark a{
    color: rgb(27, 23, 25);
}
.bookmark a:hover{
    color: #3800ee;
}
.checked{
    text-decoration: line-through;
    background: rgba(167, 9, 143, 0.787);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10.5px );
    -webkit-backdrop-filter: blur( 10.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}